.header {
  background-color: #3a4660;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_title {
  color: #fff;
  margin: 0;
  padding: 12px;
  font-size: 24px;
  font-weight: bold;
}

.header_cart {
  cursor: pointer;
  padding: 12px;
  color: #fff;
}
