.footer {
  background-color: #f8f9fa;
  padding: 18px;
  text-align: center;
  font-size: 16px;
  border-top: 1px solid #ddd; /* Added border for separation */
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.footer__author {
  margin: 0;
  color: #555;
}

.footer__copyright {
  margin: 0;
  color: #555;
}
