.cart-modal {
  position: fixed;
  top: 25%;
  left: 85%;
  transform: translate(-50%, -50%);
  background-color: #f7f7f7;
  padding: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  height: 250px;
  overflow-y: auto;
  z-index: 1;
}

.cart-modal::webkit-scroller {
  width: 7px;
  border-radius: 8px;
}

.cart-modal__title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cart-modal__items {
  margin-bottom: 18px;
}

.cart-modal__item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-modal__item-name {
  font-size: 20px;
  color: #555;
  width: 40%;
}

.cart-modal__item-price {
  font-size: 1rem;
  color: #555;
}

.cart-modal__total {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 1rem;
  border-top: 2px solid #ddd;
}

.cart-modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.cart-modal__remove {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1439px) {
  .cart-modal {
    top: 22%;
    left: 50%;
    right: 50%;
  }
}

@media (max-width: 820px) {
  .cart-modal {
    width: 80%;
    max-height: 70vh;
    padding: 15px;
  }
}
