.itemlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #dcdcdc;
}

.itemlist__title {
  font-size: 15px;
  margin: 0;
}

.itemlist__price {
  font-size: 17px;
  margin: 0;
  padding: 0;
}

.itemlist__box {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; /* Ensures content stays within the box */
}

.itemlist__image {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.itemlist__button {
  background-color: #3a4660;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 3px 3px;
  cursor: pointer;
  font-size: 17px;
}

.itemlist__button:hover {
  background-color: #0056b1;
}
